.pass{display: flex;
  width:100%;
  height:100%;
  flex-wrap: wrap;
    align-content: center;
   
    justify-content: center;
    
    
    color: antiquewhite;}

  .p{
    
    display: flex;
    flex-direction: column;
}
  .form-control{
    margin:0.9em;
  }
 
  .white{color: antiquewhite;}
.si{margin-left:5px;}


.tab{ 
color:azure;
opacity:inherit;
}